k6/docs/HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### .env ###
.env
.env.*
!.env.example

### personal ###
application-local.yml
application-local.properties
application-secret.yml
application-secret.properties

### jmeter test ###
/report_no_cache
k6/docs/ProductList_CacheTest.jmx
k6/docs/jmeter.log
k6/docs/results_no_cache.jtl

# macOS
.DS_Store
.AppleDouble
.LSOverride

# temp
/k6
/old_docs
/old_unit_tests